div#Projects{
	position: fixed;
	left: 5.2%;
	top: 10%;
	width: 100%;
	font-weight: normal;
	font-size: 20px;
	font-family: Arial;
}

div.horizontalgap {
  overflow: hidden;
  height: 1px;
  width: 0px;
}

label {
   white-space: pre;
}

div#contactData
{
	position: fixed;
	left: 5.2%;
	top: 10%;
	font-weight: normal;
	font-size: 20px;
	font-family: Arial;
}

h1#GameTitle{
	position: absolute;
	left: 35%;
	top: 7%;
}

div.Images {
	position: relative;
	left: 75%;
	width: 25%;
	height: 300%;
}