body {
	background-color : black;
	color: white;
}

th.clicable{
	width: 80px;
	color: white;
	font-family: Arial;
}

th:hover{
	color: orange;
}

h1.medium {
	font-weight: normal;
	font-size: 20px;
	font-family: Arial;
}

h1.bold {
	
	font-weight: bold;
	font-family: Arial;
	font-size: 40px;
}

h2.small {
	font-weight: normal;
	font-size: 15px;
	font-family: Arial;
}

div#introduction{
	position: fixed;
	left: 5.2%;
	top: 25%;
	font-weight: normal;
	font-size: 20px;
	font-family: Arial;
}

h2.orangeLink {
	font-weight: normal;
	font-size: 15px;
	font-family: Arial;
	color: orange;
}

a{
	color: orange;
}

div#myWork{
	position: fixed;
	left:  5.2%;
	top: 75%;
	font-weight: normal;
	font-size: 20px;
	font-family: Arial;
}

img#myImage {
	position: absolute;
	left: 55%;
	top: 10%;
}